In [271]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn
import pandas as pd
from pandas import DataFrame, Series
%matplotlib inline

In [272]:
batting_data = pd.read_csv('Data/core/Batting.csv', sep = ",", dtype = str).fillna(0)

In [273]:
batting_data = batting_data[['playerID', 'yearID', 'H', 'BB', 'HBP', 'AB', 'SF']]

In [274]:
batting_data.head()

    playerID yearID   H BB HBP   AB SF
0  abercda01   1871   0  0   0    4  0
1   addybo01   1871  32  4   0  118  0
2  allisar01   1871  40  2   0  137  0
3  allisdo01   1871  44  0   0  133  0
4  ansonca01   1871  39  2   0  120  0

In [275]:
salary_data = pd.read_csv('Data/core/Salaries.csv', sep = ",", dtype = str).fillna(0)

In [276]:
salary_data = salary_data[['playerID', 'salary']]

In [277]:
salary_data.head()

    playerID  salary
0  barkele01  870000
1  bedrost01  550000
2  benedbr01  545000
3   campri01  633333
4  ceronri01  625000

In [278]:
fielding_data = pd.read_csv('Data/core/Fielding.csv', sep = ",", dtype = str).fillna(0)

In [279]:
fielding_data = fielding_data[['playerID', 'POS']]

In [280]:
fielding_data.head()

    playerID POS
0  abercda01  SS
1   addybo01  2B
2   addybo01  SS
3  allisar01  2B
4  allisar01  OF

In [281]:
batting_and_salary = pd.merge(batting_data, salary_data)

In [282]:
batting_and_salary.head()

    playerID yearID   H BB HBP  AB SF  salary
0  lawrebr01   1954  10  3   1  53  0  500000
1  lawrebr01   1955   2  1   0  21  0  500000
2  lawrebr01   1956  11  2   1  70  2  500000
3  lawrebr01   1957  14  6   0  82  0  500000
4  lawrebr01   1958   6  5   0  53  2  500000

In [283]:
batting_and_salary.sort_values('playerID')

         playerID yearID    H  BB HBP   AB SF   salary
258764  aardsda01   2013    0   0   0    0  0   403250
258746  aardsda01   2009    0   0   0    0  0  4500000
258747  aardsda01   2009    0   0   0    0  0   500000
258748  aardsda01   2010    0   0   0    0  0   300000
258749  aardsda01   2010    0   0   0    0  0   387500
258750  aardsda01   2010    0   0   0    0  0   403250
258751  aardsda01   2010    0   0   0    0  0   419000
258752  aardsda01   2010    0   0   0    0  0  2750000
258753  aardsda01   2010    0   0   0    0  0  4500000
258754  aardsda01   2010    0   0   0    0  0   500000
258757  aardsda01   2012    0   0   0    0  0   403250
258775  aardsda01   2015    0   0   0    1  0   500000
258774  aardsda01   2015    0   0   0    1  0  4500000
258773  aardsda01   2015    0   0   0    1  0  2750000
258745  aardsda01   2009    0   0   0    0  0  2750000
258772  aardsda01   2015    0   0   0    1  0   419000
258770  aardsda01   2015    0   0   0    1  0   387500
258769  aardsda01   2015    0   0   0    1  0   300000
258768  aardsda01   2013    0   0   0    0  0   500000
258767  aardsda01   2013    0   0   0    0  0  4500000
258766  aardsda01   2013    0   0   0    0  0  2750000
258765  aardsda01   2013    0   0   0    0  0   419000
258755  aardsda01   2012    0   0   0    0  0   300000
258763  aardsda01   2013    0   0   0    0  0   387500
258762  aardsda01   2013    0   0   0    0  0   300000
258761  aardsda01   2012    0   0   0    0  0   500000
258760  aardsda01   2012    0   0   0    0  0  4500000
258759  aardsda01   2012    0   0   0    0  0  2750000
258758  aardsda01   2012    0   0   0    0  0   419000
258771  aardsda01   2015    0   0   0    1  0   403250
...           ...    ...  ...  ..  ..  ... ..      ...
298936  zuninmi01   2013   37  16   3  173  1   504100
298937  zuninmi01   2013   37  16   3  173  1   523500
298938  zuninmi01   2014   87  17  17  438  4   504100
298940  zuninmi01   2015   61  21   5  350  2   504100
298941  zuninmi01   2015   61  21   5  350  2   523500
298939  zuninmi01   2014   87  17  17  438  4   523500
138846  zupcibo01   1993   69  27   2  286  3   222000
138851  zupcibo01   1994   18   4   0   88  1   109000
138850  zupcibo01   1994   18   4   0   88  1   100000
138849  zupcibo01   1994    0   0   0    4  0   222000
138848  zupcibo01   1994    0   0   0    4  0   109000
138847  zupcibo01   1994    0   0   0    4  0   100000
138844  zupcibo01   1993   69  27   2  286  3   100000
138843  zupcibo01   1992  108  25   4  392  4   222000
138845  zupcibo01   1993   69  27   2  286  3   109000
138838  zupcibo01   1991    4   1   0   25  0   100000
138839  zupcibo01   1991    4   1   0   25  0   109000
138852  zupcibo01   1994   18   4   0   88  1   222000
138841  zupcibo01   1992  108  25   4  392  4   100000
138842  zupcibo01   1992  108  25   4  392  4   109000
138840  zupcibo01   1991    4   1   0   25  0   222000
43980   zuvelpa01   1991    0   0   0    0  0   145000
43979   zuvelpa01   1989   16   1   1   58  0   145000
43977   zuvelpa01   1987    6   0   0   34  0   145000
43976   zuvelpa01   1986    4   5   0   48  0   145000
43975   zuvelpa01   1985   48  16   0  190  0   145000
43974   zuvelpa01   1984    5   2   0   25  0   145000
43973   zuvelpa01   1983    0   2   1    5  0   145000
43972   zuvelpa01   1982    0   0   0    1  0   145000
43978   zuvelpa01   1988   30   8   0  130  0   145000

[299134 rows x 8 columns]

In [284]:
amalgamated_data = pd.merge(batting_and_salary, fielding_data)

In [285]:
amalgamated_data.head()

    playerID yearID   H BB HBP  AB SF  salary POS
0  lawrebr01   1954  10  3   1  53  0  500000   P
1  lawrebr01   1954  10  3   1  53  0  500000   P
2  lawrebr01   1954  10  3   1  53  0  500000   P
3  lawrebr01   1954  10  3   1  53  0  500000   P
4  lawrebr01   1954  10  3   1  53  0  500000   P

In [286]:
amalgamated_data.sort_values('playerID')

          playerID yearID   H  BB HBP   AB SF  salary POS
7168248  aardsda01   2009   0   0   0    0  0  403250   P
7168172  aardsda01   2008   0   0   0    1  0  300000   P
7168171  aardsda01   2008   0   0   0    1  0  300000   P
7168170  aardsda01   2008   0   0   0    1  0  300000   P
7168169  aardsda01   2008   0   0   0    1  0  300000   P
7168168  aardsda01   2008   0   0   0    1  0  300000   P
7168167  aardsda01   2008   0   0   0    1  0  300000   P
7168173  aardsda01   2008   0   0   0    1  0  300000   P
7168166  aardsda01   2008   0   0   0    1  0  300000   P
7168164  aardsda01   2007   0   0   0    0  0  500000   P
7168163  aardsda01   2007   0   0   0    0  0  500000   P
7168162  aardsda01   2007   0   0   0    0  0  500000   P
7168161  aardsda01   2007   0   0   0    0  0  500000   P
7168160  aardsda01   2007   0   0   0    0  0  500000   P
7168159  aardsda01   2007   0   0   0    0  0  500000   P
7168165  aardsda01   2007   0   0   0    0  0  500000   P
7168158  aardsda01   2007   0   0   0    0  0  500000   P
7168174  aardsda01   2008   0   0   0    1  0  300000   P
7168176  aardsda01   2008   0   0   0    1  0  387500   P
7168190  aardsda01   2008   0   0   0    1  0  403250   P
7168189  aardsda01   2008   0   0   0    1  0  403250   P
7168188  aardsda01   2008   0   0   0    1  0  403250   P
7168187  aardsda01   2008   0   0   0    1  0  403250   P
7168186  aardsda01   2008   0   0   0    1  0  403250   P
7168185  aardsda01   2008   0   0   0    1  0  403250   P
7168175  aardsda01   2008   0   0   0    1  0  387500   P
7168184  aardsda01   2008   0   0   0    1  0  403250   P
7168182  aardsda01   2008   0   0   0    1  0  387500   P
7168181  aardsda01   2008   0   0   0    1  0  387500   P
7168180  aardsda01   2008   0   0   0    1  0  387500   P
...            ...    ...  ..  ..  ..  ... ..     ...  ..
1514704  zuvelpa01   1985  48  16   0  190  0  145000  SS
1514703  zuvelpa01   1985  48  16   0  190  0  145000  3B
1514702  zuvelpa01   1985  48  16   0  190  0  145000  2B
1514701  zuvelpa01   1985  48  16   0  190  0  145000  SS
1514700  zuvelpa01   1985  48  16   0  190  0  145000  SS
1514699  zuvelpa01   1985  48  16   0  190  0  145000  3B
1514698  zuvelpa01   1985  48  16   0  190  0  145000  2B
1514697  zuvelpa01   1985  48  16   0  190  0  145000  SS
1514696  zuvelpa01   1985  48  16   0  190  0  145000  2B
1514695  zuvelpa01   1985  48  16   0  190  0  145000  SS
1514694  zuvelpa01   1985  48  16   0  190  0  145000  SS
1514693  zuvelpa01   1984   5   2   0   25  0  145000  3B
1514692  zuvelpa01   1984   5   2   0   25  0  145000  SS
1514706  zuvelpa01   1985  48  16   0  190  0  145000  3B
1514691  zuvelpa01   1984   5   2   0   25  0  145000  DH
1514689  zuvelpa01   1984   5   2   0   25  0  145000  SS
1514688  zuvelpa01   1984   5   2   0   25  0  145000  SS
1514687  zuvelpa01   1984   5   2   0   25  0  145000  3B
1514686  zuvelpa01   1984   5   2   0   25  0  145000  2B
1514685  zuvelpa01   1984   5   2   0   25  0  145000  SS
1514684  zuvelpa01   1984   5   2   0   25  0  145000  SS
1514683  zuvelpa01   1984   5   2   0   25  0  145000  3B
1514682  zuvelpa01   1984   5   2   0   25  0  145000  2B
1514681  zuvelpa01   1984   5   2   0   25  0  145000  SS
1514680  zuvelpa01   1984   5   2   0   25  0  145000  2B
1514679  zuvelpa01   1984   5   2   0   25  0  145000  SS
1514678  zuvelpa01   1984   5   2   0   25  0  145000  SS
1514677  zuvelpa01   1983   0   2   1    5  0  145000  3B
1514690  zuvelpa01   1984   5   2   0   25  0  145000  3B
1514788  zuvelpa01   1991   0   0   0    0  0  145000  SS

[7781783 rows x 9 columns]

In [287]:
# relevant_data = amalgamated_data[['playerID', 'yearID', 'AB', 'H', 'BB', 'HBP', 'SF', 'salary', 'POS']]

In [288]:
# relevant_data.head()

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [289]:
float_data = amalgamated_data[['yearID', 'AB', 'H', 'BB', 'HBP', 'SF', 'salary']].astype(float)

In [290]:
amalgamated_data.pop('yearID')

0          1954
1          1954
2          1954
3          1954
4          1954
5          1954
6          1954
7          1955
8          1955
9          1955
10         1955
11         1955
12         1955
13         1955
14         1956
15         1956
16         1956
17         1956
18         1956
19         1956
20         1956
21         1957
22         1957
23         1957
24         1957
25         1957
26         1957
27         1957
28         1958
29         1958
           ...
7781753    2015
7781754    2015
7781755    2015
7781756    2015
7781757    2015
7781758    2014
7781759    2014
7781760    2015
7781761    2015
7781762    2014
7781763    2014
7781764    2015
7781765    2015
7781766    2014
7781767    2014
7781768    2015
7781769    2015
7781770    2014
7781771    2014
7781772    2015
7781773    2015
7781774    2015
7781775    2015
7781776    2015
7781777    2015
7781778    2015
7781779    2015
7781780    2015
7781781    2015
7781782    2015
Name: yearID, dtype: object

In [291]:
cleaned_data = pd.concat([amalgamated_data, float_data], axis = 1)

In [292]:
cleaned_data.head()

,playerID,H,BB,HBP,AB,SF,salary,POS,yearID,AB,H,BB,HBP,SF,salary
0,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0
1,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0
2,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0
3,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0
4,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0

In [293]:
len(cleaned_data)

7781783

In [294]:
amalgamated_data = cleaned_data

In [295]:
amalgamated_data.head()

,playerID,H,BB,HBP,AB,SF,salary,POS,yearID,AB,H,BB,HBP,SF,salary
0,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0
1,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0
2,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0
3,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0
4,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0

In [296]:
top_list = ['H', 'BB', 'HBP']

In [297]:
bottom_list = ['AB', 'BB' , 'HBP', "SF"]

In [298]:
amalgamated_data['OBP'] = amalgamated_data[top_list].sum(axis=1) / amalgamated_data[bottom_list].sum(axis=1)

In [299]:
amalgamated_data.fillna(0)

,playerID,H,BB,HBP,AB,SF,salary,POS,yearID,AB,H,BB,HBP,SF,salary,OBP
0,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
1,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
2,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
3,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
4,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
5,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
6,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
7,lawrebr01,2,1,0,21,0,500000,P,1955.0,21.0,2.0,1.0,0.0,0.0,500000.0,0.136364
8,lawrebr01,2,1,0,21,0,500000,P,1955.0,21.0,2.0,1.0,0.0,0.0,500000.0,0.136364
9,lawrebr01,2,1,0,21,0,500000,P,1955.0,21.0,2.0,1.0,0.0,0.0,500000.0,0.136364
10,lawrebr01,2,1,0,21,0,500000,P,1955.0,21.0,2.0,1.0,0.0,0.0,500000.0,0.136364
11,lawrebr01,2,1,0,21,0,500000,P,1955.0,21.0,2.0,1.0,0.0,0.0,500000.0,0.136364
12,lawrebr01,2,1,0,21,0,500000,P,1955.0,21.0,2.0,1.0,0.0,0.0,500000.0,0.136364
13,lawrebr01,2,1,0,21,0,500000,P,1955.0,21.0,2.0,1.0,0.0,0.0,500000.0,0.136364
14,lawrebr01,11,2,1,70,2,500000,P,1956.0,70.0,11.0,2.0,1.0,2.0,500000.0,0.186667
15,lawrebr01,11,2,1,70,2,500000,P,1956.0,70.0,11.0,2.0,1.0,2.0,500000.0,0.186667
16,lawrebr01,11,2,1,70,2,500000,P,1956.0,70.0,11.0,2.0,1.0,2.0,500000.0,0.186667
17,lawrebr01,11,2,1,70,2,500000,P,1956.0,70.0,11.0,2.0,1.0,2.0,500000.0,0.186667
18,lawrebr01,11,2,1,70,2,500000,P,1956.0,70.0,11.0,2.0,1.0,2.0,500000.0,0.186667
19,lawrebr01,11,2,1,70,2,500000,P,1956.0,70.0,11.0,2.0,1.0,2.0,500000.0,0.186667
20,lawrebr01,11,2,1,70,2,500000,P,1956.0,70.0,11.0,2.0,1.0,2.0,500000.0,0.186667
21,lawrebr01,14,6,0,82,0,500000,P,1957.0,82.0,14.0,6.0,0.0,0.0,500000.0,0.227273
22,lawrebr01,14,6,0,82,0,500000,P,1957.0,82.0,14.0,6.0,0.0,0.0,500000.0,0.227273
23,lawrebr01,14,6,0,82,0,500000,P,1957.0,82.0,14.0,6.0,0.0,0.0,500000.0,0.227273
24,lawrebr01,14,6,0,82,0,500000,P,1957.0,82.0,14.0,6.0,0.0,0.0,500000.0,0.227273
25,lawrebr01,14,6,0,82,0,500000,P,1957.0,82.0,14.0,6.0,0.0,0.0,500000.0,0.227273
26,lawrebr01,14,6,0,82,0,500000,P,1957.0,82.0,14.0,6.0,0.0,0.0,500000.0,0.227273
27,lawrebr01,14,6,0,82,0,500000,P,1957.0,82.0,14.0,6.0,0.0,0.0,500000.0,0.227273
28,lawrebr01,6,5,0,53,2,500000,P,1958.0,53.0,6.0,5.0,0.0,2.0,500000.0,0.183333
29,lawrebr01,6,5,0,53,2,500000,P,1958.0,53.0,6.0,5.0,0.0,2.0,500000.0,0.183333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7781753,taylomi02,108,35,1,472,2,508700,RF,2015.0,472.0,108.0,35.0,1.0,2.0,508700.0,0.282353
7781754,taylomi02,108,35,1,472,2,508700,LF,2015.0,472.0,108.0,35.0,1.0,2.0,508700.0,0.282353
7781755,taylomi02,108,35,1,472,2,508700,CF,2015.0,472.0,108.0,35.0,1.0,2.0,508700.0,0.282353
7781756,taylomi02,108,35,1,472,2,508700,RF,2015.0,472.0,108.0,35.0,1.0,2.0,508700.0,0.282353
7781757,taylomi02,108,35,1,472,2,508700,OF,2015.0,472.0,108.0,35.0,1.0,2.0,508700.0,0.282353
7781758,treinbl01,1,1,0,12,0,512800,P,2014.0,12.0,1.0,1.0,0.0,0.0,512800.0,0.153846
7781759,treinbl01,1,1,0,12,0,512800,P,2014.0,12.0,1.0,1.0,0.0,0.0,512800.0,0.153846
7781760,treinbl01,0,0,0,2,0,512800,P,2015.0,2.0,0.0,0.0,0.0,0.0,512800.0,0.000000
7781761,treinbl01,0,0,0,2,0,512800,P,2015.0,2.0,0.0,0.0,0.0,0.0,512800.0,0.000000
7781762,vargake01,59,12,3,215,4,517500,1B,2014.0,215.0,59.0,12.0,3.0,4.0,517500.0,0.316239
7781763,vargake01,59,12,3,215,4,517500,1B,2014.0,215.0,59.0,12.0,3.0,4.0,517500.0,0.316239
7781764,vargake01,42,9,0,175,0,517500,1B,2015.0,175.0,42.0,9.0,0.0,0.0,517500.0,0.277174
7781765,vargake01,42,9,0,175,0,517500,1B,2015.0,175.0,42.0,9.0,0.0,0.0,517500.0,0.277174
7781766,wadats01,1,1,0,20,0,4000000,P,2014.0,20.0,1.0,1.0,0.0,0.0,4000000.0,0.095238
7781767,wadats01,1,1,0,20,0,4000000,P,2014.0,20.0,1.0,1.0,0.0,0.0,4000000.0,0.095238
7781768,wadats01,0,1,0,8,0,4000000,P,2015.0,8.0,0.0,1.0,0.0,0.0,4000000.0,0.111111
7781769,wadats01,0,1,0,8,0,4000000,P,2015.0,8.0,0.0,1.0,0.0,0.0,4000000.0,0.111111
7781770,yateski01,0,0,0,0,0,512800,P,2014.0,0.0,0.0,0.0,0.0,0.0,512800.0,0.000000
7781771,yateski01,0,0,0,0,0,512800,P,2014.0,0.0,0.0,0.0,0.0,0.0,512800.0,0.000000
7781772,yateski01,0,0,0,0,0,512800,P,2015.0,0.0,0.0,0.0,0.0,0.0,512800.0,0.000000
7781773,yateski01,0,0,0,0,0,512800,P,2015.0,0.0,0.0,0.0,0.0,0.0,512800.0,0.000000
7781774,andrima01,0,0,0,1,0,507500,P,2015.0,1.0,0.0,0.0,0.0,0.0,507500.0,0.000000
7781775,iglesra01,2,0,0,30,0,1714286,P,2015.0,30.0,2.0,0.0,0.0,0.0,1714286.0,0.066667
7781776,kangju01,121,28,17,421,1,2500000,3B,2015.0,421.0,121.0,28.0,17.0,1.0,2500000.0,0.355460
7781777,kangju01,121,28,17,421,1,2500000,SS,2015.0,421.0,121.0,28.0,17.0,1.0,2500000.0,0.355460
7781778,tomasya01,111,17,2,406,1,5500000,1B,2015.0,406.0,111.0,17.0,2.0,1.0,5500000.0,0.305164
7781779,tomasya01,111,17,2,406,1,5500000,3B,2015.0,406.0,111.0,17.0,2.0,1.0,5500000.0,0.305164
7781780,tomasya01,111,17,2,406,1,5500000,LF,2015.0,406.0,111.0,17.0,2.0,1.0,5500000.0,0.305164
7781781,tomasya01,111,17,2,406,1,5500000,RF,2015.0,406.0,111.0,17.0,2.0,1.0,5500000.0,0.305164
7781782,tomasya01,111,17,2,406,1,5500000,OF,2015.0,406.0,111.0,17.0,2.0,1.0,5500000.0,0.305164

In [300]:
# def get_obp(hits, walks, hit_by_pitch, at_bats, sacrifice_flies):
#     return ((hits + walks + hit_by_pitch)/(at_bats + walks + hit_by_pitch + sacrifice_flies))

In [301]:
# amalgamated_data['OBP'] = get_obp(cleaned_data['H'], cleaned_data['BB'], cleaned_data['HBP'], cleaned_data['AB'], cleaned_data['SF'])

In [302]:
amalgamated_data = amalgamated_data.fillna(0)

In [303]:
amalgamated_data.head()

,playerID,H,BB,HBP,AB,SF,salary,POS,yearID,AB,H,BB,HBP,SF,salary,OBP
0,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
1,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
2,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
3,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
4,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614

In [304]:
amalgamated_data = amalgamated_data.drop(amalgamated_data[amalgamated_data.OBP == 1].index)

In [305]:
amalgamated_data.head()

,playerID,H,BB,HBP,AB,SF,salary,POS,yearID,AB,H,BB,HBP,SF,salary,OBP
0,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
1,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
2,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
3,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
4,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614

In [306]:
len(amalgamated_data)

7757821

In [307]:
amalgamated_data = amalgamated_data.drop(amalgamated_data[amalgamated_data.OBP == 0].index)

In [308]:
amalgamated_data.head()

,playerID,H,BB,HBP,AB,SF,salary,POS,yearID,AB,H,BB,HBP,SF,salary,OBP
0,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
1,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
2,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
3,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
4,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614

In [309]:
len(amalgamated_data)

6526892

In [310]:
amalgamated_data.head()

,playerID,H,BB,HBP,AB,SF,salary,POS,yearID,AB,H,BB,HBP,SF,salary,OBP
0,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
1,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
2,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
3,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614
4,lawrebr01,10,3,1,53,0,500000,P,1954.0,53.0,10.0,3.0,1.0,0.0,500000.0,0.245614

In [312]:
amalgamated_data = amalgamated_data.drop(amalgamated_data[amalgamated_data.yearID < 2014].index)

In [322]:
amalgamated_data = amalgamated_data.drop_duplicates('playerID')

In [323]:
len(amalgamated_data)

740

In [324]:
amalgamated_data.head()

,playerID,H,BB,HBP,AB,SF,salary,POS,yearID,AB,H,BB,HBP,SF,salary,OBP
5045722,rodrial01,131,84,6,523,7,442333,SS,2015.0,523.0,131.0,84.0,6.0,7.0,442333.0,0.356452
5207223,giambja01,8,9,1,60,0,109000,1B,2014.0,60.0,8.0,9.0,1.0,0.0,109000.0,0.257143
5272287,jeterde01,149,35,6,581,4,130000,SS,2014.0,581.0,149.0,35.0,6.0,4.0,130000.0,0.303514
5486215,abreubo01,33,20,0,133,2,150000,LF,2014.0,133.0,33.0,20.0,0.0,2.0,150000.0,0.341935
5614831,ibanera01,26,23,0,166,1,150000,DH,2014.0,166.0,26.0,23.0,0.0,1.0,150000.0,0.257895

have list of players, now need to determine OBP per salary, order by that value from best ratio to worst, then find each position from that list.