In [22]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn
import pandas as pd
from pandas import DataFrame, Series
%matplotlib inline

In [56]:
batting_data = pd.read_csv('Data/core/Batting.csv', sep = ",", dtype = str).fillna(0)

In [67]:
batting_data = batting_data[['playerID', 'yearID', 'H', 'BB', 'HBP', 'AB', 'SF']]

In [68]:
batting_data.head()

    playerID yearID   H BB HBP   AB SF
0  abercda01   1871   0  0   0    4  0
1   addybo01   1871  32  4   0  118  0
2  allisar01   1871  40  2   0  137  0
3  allisdo01   1871  44  0   0  133  0
4  ansonca01   1871  39  2   0  120  0

In [65]:
salary_data = pd.read_csv('Data/core/Salaries.csv', sep = ",", dtype = str).fillna(0)

In [73]:
salary_data = salary_data[['playerID', 'yearID', 'salary']]

In [74]:
salary_data.head()

    playerID yearID  salary
0  barkele01   1985  870000
1  bedrost01   1985  550000
2  benedbr01   1985  545000
3   campri01   1985  633333
4  ceronri01   1985  625000

In [77]:
fielding_data = pd.read_csv('Data/core/Fielding.csv', sep = ",", dtype = str).fillna(0)

In [79]:
fielding_data = fielding_data[['playerID', 'yearID', 'POS']]

In [80]:
fielding_data.head()

    playerID yearID POS
0  abercda01   1871  SS
1   addybo01   1871  2B
2   addybo01   1871  SS
3  allisar01   1871  2B
4  allisar01   1871  OF

In [84]:
batting_and_salary = pd.merge(batting_data, salary_data)

In [85]:
batting_and_salary.head()

    playerID yearID   H  BB HBP   AB SF  salary
0  ackerji01   1985   0   0   0    0  0  170000
1  agostju01   1985   0   0   0    0  0  147500
2  aguaylu01   1985  46  22   6  165  3  237000
3  alexado01   1985   0   0   0    0  0  875000
4  allenne01   1985   0   0   0    2  0  750000

In [86]:
batting_and_salary.sort_values('playerID')

        playerID yearID    H  BB HBP   AB  SF    salary
23794  aardsda01   2012    0   0   0    0   0    500000
22036  aardsda01   2010    0   0   0    0   0   2750000
21156  aardsda01   2009    0   0   0    0   0    419000
20269  aardsda01   2008    0   0   0    1   0    403250
19370  aardsda01   2007    0   0   0    0   0    387500
16700  aardsda01   2004    0   0   0    0   0    300000
577     aasedo01   1986    0   0   0    0   0    600000
1352    aasedo01   1987    0   0   0    0   0    625000
2025    aasedo01   1988    0   0   0    0   0    675000
2732    aasedo01   1989    0   0   0    5   0    400000
18457   abadan01   2006    0   2   0    3   0    327000
26470   abadfe01   2015    0   0   0    0   0   1087500
23795   abadfe01   2012    1   0   0    7   0    485000
25593   abadfe01   2014    0   0   0    0   0    525900
22913   abadfe01   2011    0   0   0    0   0    418000
10909  abbotje01   1998   68   9   0  244   5    175000
14000  abbotje01   2001   11   3   1   42   0    300000
13070  abbotje01   2000   59  21   2  215   1    255000
12003  abbotje01   1999    9   5   0   57   1    255000
4392   abbotji01   1991    0   0   0    0   0    357500
5905   abbotji01   1993    0   0   0    0   0   2350000
12004  abbotji01   1999    2   0   0   21   0    400000
6883   abbotji01   1994    0   0   0    0   0   2775000
3500   abbotji01   1990    0   0   0    0   0    185000
7782   abbotji01   1995    0   0   0    0   0   2775000
8878   abbotji01   1996    0   0   0    0   0   2200000
2733   abbotji01   1989    0   0   0    0   0     68000
7783   abbotji01   1995    0   0   0    0   0   2775000
5110   abbotji01   1992    0   0   0    0   0   1850000
9896   abbotku01   1997   69  14   1  252   0    650000
...          ...    ...  ...  ..  ..  ...  ..       ...
14913   zitoba01   2001    0   0   0    5   0    240000
15803   zitoba01   2002    0   0   0    4   0    295000
21153   zitoba01   2008    6   4   0   51   0  14500000
23792   zitoba01   2011    0   1   0   13   0  18500000
22910   zitoba01   2010    6   1   0   51   0  18500000
22033   zitoba01   2009    6   4   0   51   0  18500000
27382  zobribe01   2015   63  33   0  235   3   7500000
26468  zobribe01   2014  155  75   1  570   6   7000000
20267  zobribe01   2007   15   3   1   97   2    383400
23793  zobribe01   2011  158  77   2  588   5   4687300
27383  zobribe01   2015   66  29   1  232   2   7500000
22034  zobribe01   2009  149  91   2  501   4    415900
25592  zobribe01   2013  168  72   7  612   6   5687300
24700  zobribe01   2012  151  97   3  560   6   4687300
21154  zobribe01   2008   50  25   2  198   2    395800
22911  zobribe01   2010  129  92   3  541  12    438100
5903   zoskyed01   1992    2   0   0    7   1    109000
9895   zuberjo01   1996   23   6   0   91   1    109000
14914  zuletju01   2001   23   8   3  106   1    200000
19369  zumayjo01   2006    0   0   0    0   0    327000
22035  zumayjo01   2009    0   0   0    0   0    735000
20268  zumayjo01   2007    0   0   0    0   0    410000
21155  zumayjo01   2008    0   0   0    0   0    420000
22912  zumayjo01   2010    0   0   0    0   0    915000
26469  zuninmi01   2014   87  17  17  438   4    504100
27384  zuninmi01   2015   61  21   5  350   2    523500
5904   zupcibo01   1992  108  25   4  392   4    109000
6882   zupcibo01   1993   69  27   2  286   3    222000
5109   zupcibo01   1991    4   1   0   25   0    100000
3499   zuvelpa01   1989   16   1   1   58   0    145000

[27385 rows x 8 columns]

In [87]:
amalgamated_data = pd.merge(batting_and_salary, fielding_data)

In [88]:
amalgamated_data.head()

    playerID yearID   H  BB HBP   AB SF  salary POS
0  ackerji01   1985   0   0   0    0  0  170000   P
1  agostju01   1985   0   0   0    0  0  147500   P
2  aguaylu01   1985  46  22   6  165  3  237000  2B
3  aguaylu01   1985  46  22   6  165  3  237000  3B
4  aguaylu01   1985  46  22   6  165  3  237000  SS

In [89]:
amalgamated_data.sort_values('playerID')

        playerID yearID    H  BB HBP   AB SF   salary POS
50504  aardsda01   2010    0   0   0    0  0  2750000   P
46890  aardsda01   2008    0   0   0    1  0   403250   P
44931  aardsda01   2007    0   0   0    0  0   387500   P
54118  aardsda01   2012    0   0   0    0  0   500000   P
39182  aardsda01   2004    0   0   0    0  0   300000   P
48662  aardsda01   2009    0   0   0    0  0   419000   P
3108    aasedo01   1987    0   0   0    0  0   625000   P
1314    aasedo01   1986    0   0   0    0  0   600000   P
6555    aasedo01   1989    0   0   0    5  0   400000   P
4743    aasedo01   1988    0   0   0    0  0   675000   P
52337   abadfe01   2011    0   0   0    0  0   418000   P
58004   abadfe01   2014    0   0   0    0  0   525900   P
54119   abadfe01   2012    1   0   0    7  0   485000   P
59938   abadfe01   2015    0   0   0    0  0  1087500   P
25798  abbotje01   1998   68   9   0  244  5   175000  RF
25794  abbotje01   1998   68   9   0  244  5   175000  CF
25795  abbotje01   1998   68   9   0  244  5   175000  DH
25796  abbotje01   1998   68   9   0  244  5   175000  LF
25797  abbotje01   1998   68   9   0  244  5   175000  OF
33253  abbotje01   2001   11   3   1   42  0   300000  LF
31019  abbotje01   2000   59  21   2  215  1   255000  CF
31020  abbotje01   2000   59  21   2  215  1   255000  LF
31021  abbotje01   2000   59  21   2  215  1   255000  OF
33254  abbotje01   2001   11   3   1   42  0   300000  OF
28517  abbotje01   1999    9   5   0   57  1   255000  OF
31022  abbotje01   2000   59  21   2  215  1   255000  RF
33252  abbotje01   2001   11   3   1   42  0   300000  CF
28516  abbotje01   1999    9   5   0   57  1   255000  LF
33255  abbotje01   2001   11   3   1   42  0   300000  RF
28518  abbotji01   1999    2   0   0   21  0   400000   P
...          ...    ...  ...  ..  ..  ... ..      ...  ..
54117  zobribe01   2011  158  77   2  588  5  4687300  RF
56110  zobribe01   2012  151  97   3  560  6  4687300  SS
54115  zobribe01   2011  158  77   2  588  5  4687300  2B
14296  zoskyed01   1992    2   0   0    7  1   109000  SS
23374  zuberjo01   1996   23   6   0   91  1   109000  1B
35233  zuletju01   2001   23   8   3  106  1   200000  1B
46889  zumayjo01   2007    0   0   0    0  0   410000   P
48661  zumayjo01   2008    0   0   0    0  0   420000   P
50503  zumayjo01   2009    0   0   0    0  0   735000   P
44930  zumayjo01   2006    0   0   0    0  0   327000   P
52336  zumayjo01   2010    0   0   0    0  0   915000   P
62014  zuninmi01   2015   61  21   5  350  2   523500   C
59937  zuninmi01   2014   87  17  17  438  4   504100   C
12440  zupcibo01   1991    4   1   0   25  0   100000  CF
12441  zupcibo01   1991    4   1   0   25  0   100000  LF
12442  zupcibo01   1991    4   1   0   25  0   100000  OF
12443  zupcibo01   1991    4   1   0   25  0   100000  RF
14297  zupcibo01   1992  108  25   4  392  4   109000  CF
14298  zupcibo01   1992  108  25   4  392  4   109000  DH
14299  zupcibo01   1992  108  25   4  392  4   109000  LF
14301  zupcibo01   1992  108  25   4  392  4   109000  RF
16547  zupcibo01   1993   69  27   2  286  3   222000  CF
16548  zupcibo01   1993   69  27   2  286  3   222000  DH
16549  zupcibo01   1993   69  27   2  286  3   222000  LF
16550  zupcibo01   1993   69  27   2  286  3   222000  OF
16551  zupcibo01   1993   69  27   2  286  3   222000  RF
14300  zupcibo01   1992  108  25   4  392  4   109000  OF
8570   zuvelpa01   1989   16   1   1   58  0   145000  3B
8572   zuvelpa01   1989   16   1   1   58  0   145000  SS
8571   zuvelpa01   1989   16   1   1   58  0   145000  DH

[62015 rows x 9 columns]

In [33]:
# relevant_data = amalgamated_data[['playerID', 'yearID', 'AB', 'H', 'BB', 'HBP', 'SF', 'salary', 'POS']]

In [34]:
# relevant_data.head()

    playerID yearID   AB    H   BB  HBP   SF  salary POS
0  ackerji01   1985  NaN  NaN  NaN  NaN  NaN  170000   P
1  alexado01   1985  NaN  NaN  NaN  NaN  NaN  875000   P
2  atherke01   1985  NaN  NaN  NaN  NaN  NaN  107333   P
3  beattji01   1985  NaN  NaN  NaN  NaN  NaN  470000   P
4  beckwjo01   1985  NaN  NaN  NaN  NaN  NaN  358000   P

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [94]:
float_data = amalgamated_data[['yearID', 'AB', 'H', 'BB', 'HBP', 'SF', 'salary']].astype(float)

In [114]:
cleaned_data = pd.concat([amalgamated_data, float_data], axis = 1)

In [115]:
cleaned_data.head()

,playerID,yearID,H,BB,HBP,AB,SF,salary,POS,yearID,...,HBP,SF,salary,yearID,AB,H,BB,HBP,SF,salary
0,ackerji01,1985,0,0,0,0,0,170000,P,1985.0,...,0.0,0.0,170000.0,1985.0,0.0,0.0,0.0,0.0,0.0,170000.0
1,agostju01,1985,0,0,0,0,0,147500,P,1985.0,...,0.0,0.0,147500.0,1985.0,0.0,0.0,0.0,0.0,0.0,147500.0
2,aguaylu01,1985,46,22,6,165,3,237000,2B,1985.0,...,6.0,3.0,237000.0,1985.0,165.0,46.0,22.0,6.0,3.0,237000.0
3,aguaylu01,1985,46,22,6,165,3,237000,3B,1985.0,...,6.0,3.0,237000.0,1985.0,165.0,46.0,22.0,6.0,3.0,237000.0
4,aguaylu01,1985,46,22,6,165,3,237000,SS,1985.0,...,6.0,3.0,237000.0,1985.0,165.0,46.0,22.0,6.0,3.0,237000.0

In [116]:
len(cleaned_data)

62015

In [124]:
amalgamated_data = cleaned_data

In [125]:
amalgamated_data.head()

,playerID,yearID,H,BB,HBP,AB,SF,salary,POS,yearID,...,HBP,SF,salary,yearID,AB,H,BB,HBP,SF,salary
0,ackerji01,1985,0,0,0,0,0,170000,P,1985.0,...,0.0,0.0,170000.0,1985.0,0.0,0.0,0.0,0.0,0.0,170000.0
1,agostju01,1985,0,0,0,0,0,147500,P,1985.0,...,0.0,0.0,147500.0,1985.0,0.0,0.0,0.0,0.0,0.0,147500.0
2,aguaylu01,1985,46,22,6,165,3,237000,2B,1985.0,...,6.0,3.0,237000.0,1985.0,165.0,46.0,22.0,6.0,3.0,237000.0
3,aguaylu01,1985,46,22,6,165,3,237000,3B,1985.0,...,6.0,3.0,237000.0,1985.0,165.0,46.0,22.0,6.0,3.0,237000.0
4,aguaylu01,1985,46,22,6,165,3,237000,SS,1985.0,...,6.0,3.0,237000.0,1985.0,165.0,46.0,22.0,6.0,3.0,237000.0

In [126]:
top_list = ['H', 'BB', 'HBP']

In [127]:
bottom_list = ['AB', 'BB' , 'HBP', "SF"]

In [129]:
amalgamated_data['OBP'] = amalgamated_data[top_list].sum(axis=1) / amalgamated_data[bottom_list].sum(axis=1)

In [131]:
amalgamated_data.head().fillna(0)

,playerID,yearID,H,BB,HBP,AB,SF,salary,POS,yearID,...,SF,salary,yearID,AB,H,BB,HBP,SF,salary,OBP
0,ackerji01,1985,0,0,0,0,0,170000,P,1985.0,...,0.0,170000.0,1985.0,0.0,0.0,0.0,0.0,0.0,170000.0,0.000000
1,agostju01,1985,0,0,0,0,0,147500,P,1985.0,...,0.0,147500.0,1985.0,0.0,0.0,0.0,0.0,0.0,147500.0,0.000000
2,aguaylu01,1985,46,22,6,165,3,237000,2B,1985.0,...,3.0,237000.0,1985.0,165.0,46.0,22.0,6.0,3.0,237000.0,0.377551
3,aguaylu01,1985,46,22,6,165,3,237000,3B,1985.0,...,3.0,237000.0,1985.0,165.0,46.0,22.0,6.0,3.0,237000.0,0.377551
4,aguaylu01,1985,46,22,6,165,3,237000,SS,1985.0,...,3.0,237000.0,1985.0,165.0,46.0,22.0,6.0,3.0,237000.0,0.377551

In [119]:
# def get_obp(hits, walks, hit_by_pitch, at_bats, sacrifice_flies):
#     return ((hits + walks + hit_by_pitch)/(at_bats + walks + hit_by_pitch + sacrifice_flies))

In [132]:
# amalgamated_data['OBP'] = get_obp(cleaned_data['H'], cleaned_data['BB'], cleaned_data['HBP'], cleaned_data['AB'], cleaned_data['SF'])

In [45]:
merged_data.head()

    playerID POS  salary  yearID   AB    H   BB  HBP   SF    salary  OBP
0  ackerji01   P  170000  1985.0  0.0  0.0  0.0  0.0  0.0  170000.0  NaN
1  alexado01   P  875000  1985.0  0.0  0.0  0.0  0.0  0.0  875000.0  NaN
2  atherke01   P  107333  1985.0  0.0  0.0  0.0  0.0  0.0  107333.0  NaN
3  beattji01   P  470000  1985.0  0.0  0.0  0.0  0.0  0.0  470000.0  NaN
4  beckwjo01   P  358000  1985.0  0.0  0.0  0.0  0.0  0.0  358000.0  NaN

In [46]:
merged_data_cleaned = merged_data.fillna(0)

In [47]:
# cleaned_data = cleaned_data.fillna(0)

In [48]:
no_perfect = merged_data_cleaned.drop(merged_data_cleaned[merged_data_cleaned.OBP == 1].index)

In [49]:
no_perfect.head()

    playerID POS  salary  yearID   AB    H   BB  HBP   SF    salary  OBP
0  ackerji01   P  170000  1985.0  0.0  0.0  0.0  0.0  0.0  170000.0  0.0
1  alexado01   P  875000  1985.0  0.0  0.0  0.0  0.0  0.0  875000.0  0.0
2  atherke01   P  107333  1985.0  0.0  0.0  0.0  0.0  0.0  107333.0  0.0
3  beattji01   P  470000  1985.0  0.0  0.0  0.0  0.0  0.0  470000.0  0.0
4  beckwjo01   P  358000  1985.0  0.0  0.0  0.0  0.0  0.0  358000.0  0.0

In [55]:
len(no_perfect)

1891

In [50]:
has_obp = no_perfect.drop(no_perfect[no_perfect.OBP == 0].index)

In [51]:
has_obp.head()

,playerID,POS,salary,yearID,AB,H,BB,HBP,SF,salary,OBP
413,rodriru01,C,62500,1988.0,5.0,1.0,0.0,0.0,0.0,62500.0,0.200000
712,tinglro01,C,100000,1990.0,3.0,0.0,1.0,0.0,0.0,100000.0,0.250000
795,knorrra01,C,100000,1991.0,1.0,0.0,1.0,0.0,0.0,100000.0,0.500000
1308,princto01,C,275000,1994.0,6.0,2.0,1.0,0.0,0.0,275000.0,0.428571
1529,sweenmi01,C,109000,1995.0,4.0,1.0,0.0,0.0,0.0,109000.0,0.250000

In [52]:
len(has_obp)

5

In [53]:
current_players = merged_data.drop(merged_data[merged_data.yearID < 2014].index)

In [54]:
current_players.head()

       playerID POS   salary  yearID   AB    H   BB  HBP   SF     salary  OBP
1892  lairdge01   C  1000000  2015.0  2.0  0.0  0.0  0.0  0.0  1000000.0  0.0